<!DOCTYPE html>
<html>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    * {
        box-sizing: border-box;
    }
    /* Full-width input fields */
    
    input[type=text],
    input[type=number],
    input[type=password],
    textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    /* Add a background color when the inputs get focus */
    
    input[type=text]:focus,
    input[type=number]:focus,
    input[type=password]:focus,
    textarea {
        background-color: #ddd;
        outline: none;
    }
    /* Set a style for all buttons */
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    
    button:hover {
        opacity: 1;
    }
    /* Extra styles for the cancel button */
    
    .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
    }
    /* Float cancel and signup buttons and add an equal width */
    
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%;
    }
    /* Add padding to container elements */
    
    .container {
        padding: 16px;
    }
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #474e5d;
        padding-top: 50px;
    }
    /* Modal Content/Box */
    
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }
    /* Style the horizontal ruler */
    
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
    /* The Close Button (x) */
    
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }
    
    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }
    /* Clear floats */
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    /* Change styles for cancel button and signup button on extra small screens */
    
    @media screen and (max-width: 300px) {
        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }
</style>
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<body>

    <h2>Modal Signup Form</h2>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Issue?</button>
    <br>

    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <FORM> element to your page.             -->
    <!--  ----------------------------------------------------------------------  -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" class="modal-content" method="POST">
            <div class="container">
                <h1>Create Case</h1>
                <p>Please fill in this form to submit your issue.</p>
                <hr>
                <input type=hidden name="orgid" value="00D6F000001bWLD">
                <input type=hidden name="retURL" value="http://casesubmit">

                <!--  ----------------------------------------------------------------------  -->
                <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
                <!--  these lines if you wish to test in debug mode.                          -->
                <!--  <input type="hidden" name="debug" value=1>                              -->
                <!--  <input type="hidden" name="debugEmail" value="ps8032872@gmail.com">     -->
                <!--  ----------------------------------------------------------------------  -->

                <label for="name">Contact Name</label><input id="name" maxlength="80" name="name" size="20" type="text" /><br>

                <label for="email">Email</label><input id="email" maxlength="80" name="email" size="20" type="text" /><br>

                <label for="phone">Phone</label><input id="phone" maxlength="40" name="phone" size="20" type="text" /><br>

                <label for="subject">Subject</label><input id="subject" maxlength="80" name="subject" size="20" type="text" /><br>

                <label for="description">Description</label><textarea name="description"></textarea><br>

                <input type="hidden" id="external" name="external" value="1" /><br>

                <div class="clearfix">
                    <button type="submit" class="signupbtn" name="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>